@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.luz-neon-borde {
  box-shadow: 0 4px 20px rgba(82, 9, 154, 1); /* glow rosa debajo */
  animation: neonPulse 2s ease-in-out infinite;
}

@keyframes neonPulse {
  0%,
  100% {
    /* opacity: 0.6; */
    box-shadow:
      0 0 15px rgba(82, 9, 154, 0.9),
      0 0 30px rgba(82, 9, 154, 0.7),
      0 0 45px rgba(82, 9, 154, 0.5);
  }
  50% {
    /* opacity: 1; */
    box-shadow:
      0 0 25px rgba(82, 9, 154, 1),
      0 0 50px rgba(82, 9, 154, 0.9),
      0 0 70px rgba(82, 9, 154, 0.8);
  }
}



/* Scroll  */
.animate-scroll {
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6 - 0.5rem * 12));
  }
}

/* Anuncio bg */
.bg-imagen {
  background-image:
    /* Gradient MUCHO MÁS SUTIL para no tapar a la persona */
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("/public/representacion.jpeg"); /* O "/representacion.jpeg" si usas Vite */
  background-repeat: no-repeat;
  background-position: center; /* Centramos para ver la cara de la persona */
  background-size: cover;
  min-height: 600px; /* Un min-height es mejor que un height fijo */
  height: auto;
}

@media (min-width: 768px) {
  .bg-imagen {
    background-size: cover;
    background-position: top center; /* En desktop, prioriza la parte superior (la cara) */
    min-height: 700px;
  }
}


/* Seccion de resultados */
.img--lineGradient {
  mask-image: linear-gradient(black 50%, transparent);
}

/* testimonio */
/* Color de las flechas */
.splide__arrow svg {
  fill: #d4af37; /* Color Oro */
}

/* Fondo de los botones al pasar el mouse */
.splide__arrow:hover {
  background-color: rgba(212, 175, 55, 0.2);
}

/* Hacer que los botones estén un poco más afuera del contenido */
.splide__arrow--prev {
  left: -2rem;
}
.splide__arrow--next {
  right: -2rem;
}

@media (max-width: 768px) {
  .splide__arrow {
    display: none;
  } /* Ocultar flechas en móvil, usar el dedo */
}

/* texto de colores  */
.text-degradient {
  background-image: linear-gradient(to left, #057af7, #9810fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-degradient2{
  background-image: linear-gradient(to top, #3a96f8, #ae47f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-degradient-red-white{
  background-image: linear-gradient(to right, #fb2c36, #f5c9cb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-degradient-green-white{
  background-image: linear-gradient(to right, #2fad2b, #c9f5d1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* Utilizado en botones */
.bg {
  background-image: linear-gradient(to right, #0462c7bf, #9810fa);
}

.bg-borde {
  background: 
    linear-gradient(#0f172a, #0f172a) padding-box, /* Color de fondo interno */
    linear-gradient(to right, #0462c7bf, #9810fa) border-box; /* El degradado */
}

.text-decoration{
   background: 
    linear-gradient(#0f172a, #0f172a) padding-box, /* Color de fondo interno */
    linear-gradient(to right, #0462c7bf, #9810fa) border-box; /* El degradado */
}


.subrayado-marker {
  background-image: linear-gradient(to right, #0462c7bf, #9810fa);
  background-repeat: no-repeat;
  background-size: 100% 5%; /* 100% de ancho, 30% de alto */
  background-position: 0% 95%; /* Posicionado al final del texto */
  padding: 5px 4px;
}

/* transicion de color boton */
.bg-animado {
  background: linear-gradient(
    145deg,
    #7302c3 0%,
    #7302c3 10%,
    #8727cb 45%,
    #cc91f4 50%, 
    #8727cb 60%,
    #7302c3 90%,
    #7302c3 100%
  );
  background-size: 400% 400%;
  animation:bg-transition 5s ease infinite;
}

@keyframes bg-transition {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

