@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.luz-neon-borde {
  box-shadow: 0 4px 20px rgba(82, 9, 154, 1); /* glow rosa debajo */
  animation: neonPulse 2s ease-in-out infinite;
}

@keyframes neonPulse {
  0%,
  100% {
    /* opacity: 0.6; */
    box-shadow:
      0 0 15px rgba(82, 9, 154, 0.9),
      0 0 30px rgba(82, 9, 154, 0.7),
      0 0 45px rgba(82, 9, 154, 0.5);
  }
  50% {
    /* opacity: 1; */
    box-shadow:
      0 0 25px rgba(82, 9, 154, 1),
      0 0 50px rgba(82, 9, 154, 0.9),
      0 0 70px rgba(82, 9, 154, 0.8);
  }
}

/* En el header */
.flecha-animada {
  position: absolute;
  top: -50px; /* encima del video */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  /* color: #bd500c; */
  animation: bounce 1.5s infinite;
  text-shadow: 0 0 10px rgba(82, 9, 154, 0.9);
}
@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

/* Scroll  */
.animate-scroll {
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6 - 0.5rem * 12));
  }
}

/* Anuncio bg */
.bg-imagen {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url("/public/results.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 700px;
}

/* Seccion de resultados */
.img--lineGradient {
  mask-image: linear-gradient(black 50%, transparent);
}

/* testimonio */
/* Color de las flechas */
.splide__arrow svg {
  fill: #d4af37; /* Color Oro */
}

/* Fondo de los botones al pasar el mouse */
.splide__arrow:hover {
  background-color: rgba(212, 175, 55, 0.2);
}

/* Hacer que los botones estén un poco más afuera del contenido */
.splide__arrow--prev {
  left: -2rem;
}
.splide__arrow--next {
  right: -2rem;
}

@media (max-width: 768px) {
  .splide__arrow {
    display: none;
  } /* Ocultar flechas en móvil, usar el dedo */
}

/* texto de colores  */
.text-degradient {
  background-image: linear-gradient(to left, #057af7, #9810fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* Utilizado en botones */
.bg {
  background-image: linear-gradient(to right, #0462c7bf, #9810fa);
}

.bg-borde {
  background: 
    linear-gradient(#0f172a, #0f172a) padding-box, /* Color de fondo interno */
    linear-gradient(to right, #0462c7bf, #9810fa) border-box; /* El degradado */
}

.text-decoration{
   background: 
    linear-gradient(#0f172a, #0f172a) padding-box, /* Color de fondo interno */
    linear-gradient(to right, #0462c7bf, #9810fa) border-box; /* El degradado */
}

.subrayado-marker {
  background-image: linear-gradient(to right, #0462c7bf, #9810fa);
  background-repeat: no-repeat;
  background-size: 100% 5%; /* 100% de ancho, 30% de alto */
  background-position: 0% 95%; /* Posicionado al final del texto */
  padding: 5px 4px;
}

