@import "tailwindcss";

.luz-neon-borde {
  box-shadow: 0 4px 20px rgba(82, 9, 154, 1); /* glow rosa debajo */
  animation: neonPulse 2s ease-in-out infinite;
}

@keyframes neonPulse {
  0%,
  100% {
    /* opacity: 0.6; */
    box-shadow:
      0 0 15px rgba(82, 9, 154, 0.9),
      0 0 30px rgba(82, 9, 154, 0.7),
      0 0 45px rgba(82, 9, 154, 0.5);
  }
  50% {
    /* opacity: 1; */
    box-shadow:
      0 0 25px rgba(82, 9, 154, 1),
      0 0 50px rgba(82, 9, 154, 0.9),
      0 0 70px rgba(82, 9, 154, 0.8);
  }
}

.flecha-animada {
  position: absolute;
  top: -50px; /* encima del video */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #bd0c0c;
  animation: bounce 1.5s infinite;
  text-shadow: 0 0 10px rgba(82, 9, 154, 0.9);
}
@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
